<h1>Starter Template</h1>
<button class=" rounded rounded-md bg-primary text-background px-4 py-2 font-bold">
  Primary
</button>
<button class=" rounded rounded-md bg-secondary text-background px-4 py-2 font-bold">
  Secondary
</button>
<button class=" rounded rounded-md bg-accent text-background px-4 py-2 font-bold">
  Accent
</button>
<button class=" rounded rounded-md bg-background text-primary px-4 py-2 font-bold">
  Background
</button>
<button class=" rounded rounded-md bg-base text-background px-4 py-2 font-bold">
  Base
</button>
<button class=" rounded rounded-md bg-muted text-background px-4 py-2 font-bold">
  Muted
</button>